<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Enable component scanning for Spring to automatically detect beans in the specified package -->
    <context:component-scan base-package="Annotations"></context:component-scan>
    <context:component-scan base-package="org.example.springapp1"></context:component-scan>

    <!-- Disable the Basketball bean -->
    <!--
    <bean id="football" class="org.example.springapp1.Basketball"></bean>
    -->

    <!-- Disable the Person bean -->
    <!--
    <bean id="Person" class="dependency_injection.Person"></bean>
    -->

    <!-- Disable the User bean -->
    <!--
    <bean id="User" class="dependency_injection.User" scope="singleton"
          init-method="doStart"
          destroy-method="doEnd">
        <property name="person" ref="Person"/>
        <property name="email" value="${us.email}"/>
        <property name="team" value="${us.team}"/>
    </bean>
    -->

    <!-- Load properties from an external file (still active) -->
    <context:property-placeholder location="classpath:data.properties"/>

</beans>
