<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define a bean for the Engine class -->
   <bean id="football" class="org.example.springapp1.Basketball"></bean>


<bean id="Person" class="dependency_injection.Person">

</bean>
    <bean id="User" class="dependency_injection.User">
     <!--  <constructor-arg ref="Person"></constructor-arg>  -->
        <property name="person" ref="Person"/>
        <property name="email" value="youssef@gmail.com"></property>
        <property name="team" value="fc barca"></property>
    </bean>


</beans>
